@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("~assets/fonts/Roboto.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none;
  color: #000000;
}
.nuxt-link-active {
  background-color: #f8f8f8;
}
.btn {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}
.title {
  color: #b6b6b6;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 0;
  padding-left: 26px;
}
.component {
  border-top: 1px solid #dbf28b;
  box-shadow: 0px 11px 8px 2px rgba(34, 60, 80, 0.2);
  &__bottom {
    padding: 15px 26px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f7f9;
  }
}
